<div class="no-style" style="margin-left: 4px">
  <div class="container">
    <h1>Alterar Programador</h1>
    <form [formGroup]="formEditar" (ngSubmit)="salvarProgramador()">
      <div class="form-group">
        <label for="nome">Nome: </label>
        <input id="nome" type="text" required class="form-control" formControlName="nome">
      </div>

      <div class="form-group">
        <label for="idade">Idade: </label>
        <input id="idade" ng-model="idade" type="number" required class="form-control" formControlName="idade">
        <span ng-show="formEditar.idade.$touched && formEditar.idade.$invalid">Idade deve ser entre 0 e 200.</span>
      </div>

      <div class="form-group">
        <label for="dataNascimento">Data Nascimento: </label>
        <input id="dataNascimento"
        placeholder="dd-mm-yyyy" ng-model="dataNascimento" type="date" required class="form-control" formControlName="dataNascimento">
      </div>

      <div class="form-group">
        <label for="salario">Salario: </label>
        <input id="salario" ng-model="salario" type="number" required class="form-control" formControlName="salario">
        <span ng-show="formEditar.salario.$touched && formEditar.salario.$invalid">Salario deve ser entre 0 e 200000.</span>
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
      <button (click)="voltar()" class="btn btn-success">Voltar</button>
    </form>
  </div>
</div>
